<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recent</title>
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="shortcut icon"   href="\static\pics\wolves.jpeg" type="image/x-icon">
    
<link href="https://fonts.googleapis.com/css2?family=Acme&family=Roboto:wght@500&family=Tourney:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Acme&family=Agbalumo&family=Black+Ops+One&family=Roboto:wght@500&family=Tourney:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Acme&family=Agbalumo&family=Black+Ops+One&family=Fugaz+One&family=Lobster&family=Roboto:wght@500&family=Tourney:wght@700&display=swap" rel="stylesheet">
</head>

<style>

    ::placeholder{
        color: aliceblue;
    }
</style>

<body class="bgimage2">
<div class="header">
      <!-- shadow div -->
      <div class="nav">
        <img
          class="wolves" src="\static\pics\wolves.jpeg"
          width="100px"
          alt="" />
        <h1 class="shadow"  style="color: rgb(255, 255, 255); margin-left:15px" >SHADOW</h1>
      </div>
      <!-- home div -->
      <div class="rightside">     
       <ul>
        <li><a href="Home">HOME</a></li>
        <li><a href='{{url_for("blog")}}'>WRITE A BLOG</a></li>
        <li><a href='{{url_for("recent")}}'>RECENTLY ADDED BLOGS</a></li>
        <li><a href="#help">HELP</a></li>
        <li><a href="#categories">CATEGORIES</a>
        <ul class="dropdown">
          <li><a href='{{url_for("sports")}}'>SPORTS</a></li>
          <li><a href='{{url_for("travel")}}'>TRAVEL</a></li>
        </ul>
      </li>

      </div>
 </div>

 
 <div class="flex">
    
    {% if result %}
    {% for x in result %}
    <div class="flex2">
      <h2 style="margin-left: 10px;"> {{ x['title']}}</h2>
      <p style="margin-left: 30px;">{{x['blog']}}</p>
    </div>
    
    {% endfor %}
    {% endif %}
    <h2 >Recently Uploaded Blogs</h2>
    {% if msg %}
    <h2>Something Went Wrong</h2>

    {% endif %}

  
 </div>
  
  </body>
</html>
