<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPORTS</title>
    <link rel="stylesheet" href="/static/styles/sports.css">
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="shortcut icon"   href="\static\pics\wolves.jpeg" type="image/x-icon">


</head>
<body>

    <div class="header">
        <!-- shadow div -->
        <div class="nav" >
          <img
            class="wolves" src="\static\pics\wolves.jpeg"
            width="100px"
            alt="" />
          <h1 class="shadow"  style="color:black; margin-left:15px">SHADOW</h1>
        </div>
        <!-- home div -->
        <div class="rightside">     
         <ul>
          <li><a href="Home">HOME</a></li>
          <li><a href='{{url_for("blog")}}'>WRITE A BLOG</a></li>
          <li><a href='{{url_for("recent")}}'>RECENTLY ADDED BLOGS</a></li>
          <li><a href="#help">HELP</a></li>
          <li><a href="#categories">CATEGORIES</a>
          <ul class="dropdown">
            <li><a href='{{url_for("sports")}}'>SPORTS</a></li>
            <li><a href='{{url_for("travel")}}'>TRAVEL</a></li>
          </ul>
        </li>
  
        </div>
   </div>
  
  <div class="heading">
    <h1>SPORTS</h1>
<p>
  Sports are more than just physical activities; they embody the spirit of competition, resilience, and camaraderie. Whether it's the thunderous roar of a stadium or the quiet focus of an athlete before a crucial moment, sports create a tapestry of emotions and stories. They teach invaluable lessons about teamwork, discipline, and pushing one's limits. From the adrenaline rush of a last-minute goal to the precision of a perfectly executed play, sports captivate audiences worldwide, uniting people across cultures and languages in shared moments of triumph and defeat. Each game, match, or race unfolds a narrative of dedication, passion, and the relentless pursuit of excellence, inspiring individuals to strive for greatness both on and off the field.
 Sports stand as a testament to the human spirit's incredible capabilities. 
</p>  
</div>
<div class="container">
    <section class="sports">
        <div class="sports-image">
            <img src="/static/pics/sports-1.jpeg" alt="">
        </div>
        <div class="content">
            <h2>sports</h2>
            <p>They serve as a stage where athletes showcase their dedication, skill, and unwavering determination. Beyond the physical prowess displayed, sports weave together a complex fabric of emotions - the elation of victory, the agony of defeat, the camaraderie among teammates, and the resilience to overcome challenges. They transcend barriers, uniting diverse communities under a single banner of shared passion and enthusiasm. Whether it's the grace of a gymnast, the power of a sprinter, or the strategy of a chess player, each sport brings its own unique blend of excitement and teaches invaluable life lessons about perseverance, sportsmanship, and the pursuit of dreams. In essence, sports are a universal language that speaks to the core of human potential, pushing boundaries and inspiring generations to strive for greatness.
            </p>
            <a href="" class="read-more">Read More</a>
        </div>
    </section>
</div>
    </body>
</html>